<template>
  <div id="main-nav" class="container-fluid">
    <nav class="navbar">
      <div class="nav-item main-nav-item">
        <p>Home</p>
      </div>
      <div class="nav-item main-nav-item">
        <p>Projects</p>
      </div>
      <div class="nav-item main-nav-item">
        <p>Blog</p>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'NavBar'
}
</script>

<style scoped>
  #main-nav{
    color: #000f08ff;
    background-color: #4d4847ff;
    justify-content: center;
    align-items: center;
  }
  #main-nav.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
</style>
