<template>
  <div class="main container">
    <NavBar />
  </div>
</template>

<script>
import NavBar from '../components/NavBar'

export default {
  components: {
    NavBar
  },
  data: function () {
    return {
      page: 'index'
    }
  }
}
</script>

<style>
  .main {
    margin: 0 auto;
    min-height: 100vh;
    text-align: center;
    background-color: #8baaadff;
  }
  .subtitle {
    font-weight: 300;
    font-size: 42px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
  }
  .links {
    padding-top: 15px;
  }
</style>
