<template>
  <div class="container">
    <NavBar/>
    <div class="row">
      <div class="col">
        <div class="project">
          <h2>PHT</h2>
        </div>
      </div>
      <div class="col">
        <div class="project">
          <h2>SmartHome</h2>
        </div>
      </div>
      <div class="col">
        <div class="project">
          <h2>SmartHome App</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="project">
          <h2>Herb Board</h2>
        </div>
      </div>
      <div class="col">
        <div class="project">
          <h2>GAN Visualizer</h2>
        </div>
      </div>
      <div class="col">
        <div class="project">
          <h2>TBA</h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from '../components/NavBar'

export default {
  name: 'projects',
  components: {
    NavBar
  }
}
</script>

<style scoped>
.project{
  min-height: 30vh;
}
</style>
